<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.legalpedia.android.app">

    <uses-sdk tools:overrideLibrary="android.support.v14.preference,android.support.constraint,com.roughike.bottombar" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
                 <activity android:name=".TestDownloadActivity"   android:screenOrientation="portrait" android:theme="@style/AppTheme.Dark">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        -->

        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ChangePasswordActivity"
           android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">

        </activity>
        <activity
            android:name=".RequestResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".VerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden">
            <category android:name="android.intent.category.DEFAULT" />

            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="legalpedia" />
        </activity>
        <activity
            android:name=".SectionListActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FormsPrecedenceActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SummaryCasesViewActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RulesListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".RulesDetailViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".RulesFullDetailViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".PrecedenceListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".PrecedenceFullDetailViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".PrecedenceViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".LawFullDetailViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".LawDetailViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".NotesListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Notes" />
        <activity
            android:name=".NoteDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".JudgementDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".JudgementFullDetailViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".AboutUsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProfitableLawFirmActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".VideoListActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme.Search" />
        <activity
            android:name=".DefaultIntro"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".AddNoteActivity"
            android:parentActivityName=".NotesListActivity"
            android:theme="@style/AppTheme.Dark">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NotesListActivity" />
        </activity>
        <activity
            android:name=".ResearchGenieActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Notes" />
        <activity
            android:name=".ReportBugActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Notes">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddResearchActivity"
            android:parentActivityName=".DictionaryMaximsActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ResearchDetailActivity"
            android:parentActivityName=".DictionaryMaximsActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PaymentViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ListNoteActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".PrinciplesViewActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DocumentViewActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProfileViewActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SettingsViewActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DictionaryMaximsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DictionaryActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".MaximsActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".NewsJournalActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MyAccountActivity"
            android:theme="@style/AppTheme.Dark"></activity>
        <activity
            android:name=".DatabaseDetailsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".IntegrityVerificationActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <service android:name=".services.MessageService" />
        <service android:name=".services.UpdateService" />
        <service android:name=".services.AppUpdates" />
        <service android:name=".services.LicenseService" />
        <service android:name=".services.IntegrityVerificationService" />

        <receiver android:name=".services.LicenseCheckReceiver" />


    </application>

</manifest>